.headerbar{
  /* position:fixed; */
  background-color:#ddd;
  left:0;
  right:0
}

.body{
  padding-top: 1em;
}


/* Stuff related to the job cards */
.job {
  background-color:#ddd;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  transition: 0.2s;
}

.job:hover{
  padding: 1.25em;
}

.jobtitle {
  font-weight: bold;
}

.icon {
  height:1em;
}

.trashicon {
  filter: invert(16%) sepia(97%) saturate(7219%) hue-rotate(360deg) brightness(110%) contrast(114%);
}


